@using Sitecore.Mvc
@model SiteCoreTrainings.Models.ViewModels.CommentViewModel



@*@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))*@
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            @*<input type="hidden" name="fhController" value="Article" />
            <input type="hidden" name="fhAction" value="CommentsForm" />
            <input type="hidden" name="fhParam" value="comment"/>*@
            @*@Html.Sitecore().FormHandler("Article", "CommentsForm")*@
            <div class="col-md-6 col-md-push-3">
                <div class="text-danger">
                    @Html.ValidationSummary()
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(c => c.CommentAuthor, new { @class = "form-control", placeholder = "Full Name" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(c => c.CommentAuthor)
                    </div>
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(c => c.CommentText, new { @class = "form-control", placeholder = "Enter comment here" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(c => c.CommentText)
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn-primary btn-lg btn-block" value="Post" />
                </div>
            </div>
        </div>
    </div>
}
