@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc
@model SiteCoreTrainings.TDS_Entities.TDS_Gen.Trainings.Pages.Author

<div class="container">
    <div class="row data-panel">
        <div class="col-md-4">
            <h1>@Html.Glass().Editable(m => m.Full_Name)</h1>
            <div>@Html.Glass().RenderImage(m => m.Profile_Image, new { @class = "img img-circle img-responsive" })</div>
        </div>
        <div class="col-md-8">
            <p class="text-left">
                <span>Date of birth - @Html.Glass().Editable(m => m.Date_Of_Birth)</span>
                <hr />
                @Html.Glass().Editable(m => m.Bio)
            </p>
            <div>
                <h3>Articles by this author</h3>
                <ul style="list-style:disc">
                    @foreach (var article in Model.Articles)
                    {
                        <li><a href="@article.Url">@article.Page_Title</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @Html.Sitecore().Placeholder("AuthorCommentsForm")
    @Html.Partial("Comments/CommentsList", Model.Comments)
</div>
