@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc
@model SiteCoreTrainings.Data.Models.IArticleDetails

<div class="text-center">
    <div class="container">
        <div class="row data-panel">
            <h1>@Html.Glass().Editable(m => m.PageTitle)</h1>
            <div>@Html.Glass().RenderImage(m => m.ArticleImage)</div>
            <p class="text-left">
                @Html.Glass().Editable(m => m.MainBody)
            </p>
            <p>
                Likes - <span id="@Model.Id" class="glyphicon glyphicon-thumbs-up like-sign">@Html.Glass().Editable(m => m.Likes)</span>
            </p>

            <span>Date Created: @Html.Glass().Editable(m => m.Date); Author - <a href="@Model.Author.Url">@Html.Glass().Editable(a => a.Author.FullName)</a></span>
        </div>
        @Html.Sitecore().Placeholder("CommentsForm")
        @Html.Partial("Comments/CommentsList", Model.Comments)
    </div>
</div>